table, th, td {
  border: 1px solid black;
}
table{
    
    margin: 200px;
    
}
td,th{
    border: 1 px solid rgb(9, 21, 151);
    text-align: center;
    padding: 8px;
    color: white;
}
tr{
    background-color: rgb(8, 73, 194);

}
th{
    background-color: rgb(233, 26, 26);
}