<form [formGroup]="form">
<div class="container mt-3">
  <div class="mb-3 d-flex align-items-center">
    <label class="me-3 col-3">Enter Name:</label>
    <input class="form-control" type="text" [(ngModel)]="data.name" name="name" required   formControlName="name"  [class.is-invalid]="form.controls['name'].invalid && form.controls['name'].touched ">
  </div>
  @if (form.controls['name'].invalid &&(form.controls['name'].touched || form.controls['name'].dirty)) 
	{
    <div class="text-danger">Name is required</div>
  }

  <div class="mb-3 d-flex align-items-center">
    <label class="me-3 col-3">Enter Phone:</label>
    <input class="form-control" type="number" [(ngModel)]="data.phone" name="phone" required  formControlName="phone"  [class.is-invalid]="form.controls['phone'].invalid && form.controls['phone'].touched ">
  </div>
  @if (form.controls['phone'].invalid &&(form.controls['phone'].touched || form.controls['phone'].dirty)) 
	{
    <div class="text-danger">Phone No. is required</div>
  }

  <div class="mb-3 d-flex align-items-center">
    <label class="me-3 col-3">Enter Email:</label>
    <input class="form-control" type="email" [(ngModel)]="data.email" name="email" required  formControlName="email"  [class.is-invalid]="form.controls['email'].invalid && form.controls['email'].touched ">
  </div>
  @if (form.controls['email'].invalid &&(form.controls['email'].touched || form.controls['email'].dirty)) 
	{
    <div class="text-danger">Email is required</div>
  }

  <div class="mb-3 d-flex align-items-center">
    <label class="me-3 col-3">Enter Address:</label>
    <textarea class="form-control" [(ngModel)]="data.address" name="address" rows="2" required   formControlName="address"  [class.is-invalid]="form.controls['address'].invalid && form.controls['address'].touched "></textarea>
  </div>
  @if (form.controls['address'].invalid &&(form.controls['address'].touched || form.controls['address'].dirty)) 
	{
    <div class="text-danger">Address is required</div>
  }

  <div class="mb-3 d-flex align-items-center">
    <label class="me-3 col-3">Select Gender:</label>
    <div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="data.gender" name="gender" value="Male" required  formControlName="gender"  [class.is-invalid]="form.controls['gender'].invalid && form.controls['gender'].touched ">
        <label class="form-check-label">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="data.gender" name="gender" value="Female" required  formControlName="gender"  [class.is-invalid]="form.controls['gender'].invalid && form.controls['gender'].touched ">
        <label class="form-check-label">Female</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="data.gender" name="gender" value="Other" required  formControlName="gender"  [class.is-invalid]="form.controls['gender'].invalid && form.controls['gender'].touched ">
        <label class="form-check-label">Other</label>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" type="button" (click)="submit()">
      {{ editIndex === null ? 'Save' : 'Update' }}
    </button>
  </div>
</div>
</form>